body {
    margin:0;
    padding:0;
    font-family: 'Source Code Pro', monospace;
}

#home-page-container {
    height:100vh;
    display:flex;
    flex-direction: column;
}

nav {
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 10%;
    width:100%;
    align-items: center;
    justify-content: flex-end;
}

#name {
    flex-basis:50%;
    margin-left:5%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-basis:65%;
}

nav ul li {
    list-style-type: none;
}

#nav-below {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-basis:90%;
}

#nav-below h1{
    font-size: 1.5rem;
    flex-basis:30%;
}

#nav-below img {
    flex-basis:20%;
    height: 45vh;
    border-radius: 50%;;
    width:35vw;
}